<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- cookie -->
    <script src=“https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js”></script>
    <link rel="stylesheet" href="../static/style.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>test</title>

    
</head>
<body style="background: rgb(245,245,245)">
    <script type="text/javascript" src="../static/all.js"></script>
    <div id="main">
        <div id="header">
            <img class="header-icon" src="../static/img/camera@3x.png" />
            <img id="logo" src="../static/img/insta-logo.png" />
            <img class="header-icon" src="../static/img/dm@3x.png" />
        </div>

        <div id="container">
            <div id="story-container">
                <div class="story-wrapper">
                    <div class="story-off">
                        <img src="https://w.namu.la/s/6d37d2792f61b69511edc288e16598d0722ff0407af67089c0004ddeda7ad7b9bdc0b2e4880db9548efe21f2082a4c34545902a67aaa00eafce75c7f89fcdcb81cbca1649556026b3c72a3ee9382429b"/>
                    </div>
                    <p>내 스토리</p>
                </div>
            </div>
            <div id="post-container">
            <!-- DB 게시물 달라는 구간 -->
            </div>
        </div>
        <div id="footer">
            <div id="icon-wrapper">
                <img onclick="to_home()" src="../static/img/home@3x.png">
                <img src="../static/img/search@3x.png">
                <img onclick="to_post()" src="../static/img/trending@3x.png">
                <img src="../static/img/like@3x.png">
                <img src="../static/img/pngwing.com.png">
            </div>
        </div>
    </div>
</body>
</html>