<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- cookie -->
    <script src=“https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js”></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>test</title>
</head>

<script> //로그인 버튼을 입력하면 함수 login() 실행.
    function login(){
        // 변수 email, password에 input 값을 저장한다.
    let email = $('#input_email').val()
    let password = $('#input_password').val()
        // "/"주소에 POST 방식, json형식으로 data를 보낸다.
        $.ajax({
            url: "/",
            data: { email_give:email,
                password_give:password
            },
            method: 'POST',
            dataType: 'json',
            success: function (response){
                if (response['result']=='success'){
                    alert(response['msg'])
                    window.console.log("로그인 완료")
                    //쿠키 저장하기 $.cookie(‘저장할이름’, token의 값, 저장위치)
                    $.cookie('99token', response['token'],{path:'/home'})
                    window.location.replace('/home')
                }
                else if (response['result']=='False'){
                    alert(response['msg'])
                    console.log("로그인 실패")
                }
           
            }
        });
    };
</script>


<body>
<body style="background: rgb(245,245,245)">
    <div style="text-align: center; width: 400px; height: 500px; border: solid 1px gray; margin: 100px auto 20px auto; background: white;">
        <div style="width: 360px; height: 500px; margin: 50px auto 50px auto;">
            <div><img style="width: 160px; margin-bottom:20px;" src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"></div>
            <div style="color: gray; font-weight: bolder; margin-bottom: 60px;"> 친구들의 사진과 동영상을 보려면 가입하세요 </div>

            <div class="form-floating mb-3">
                <input style="width: 300px; height: 24px; margin: auto;" type="email" class="form-control" id="input_email" placeholder="name@example.com">
                <label style="font-size: 13px; padding: 4px 10px; margin-left: 30px; margin-top: 2px;" for="floatingInput">휴대폰 번호 또는 이메일 주소</label>
            </div>

            <div class="form-floating mb-3">
                <input style="width: 300px; height: 24px; margin: auto;" type="text" class="form-control" id="input_password" placeholder="name@example.com">
                <label style="font-size: 13px; padding: 4px 10px; margin-left: 30px; margin-top: 2px;" for="floatingInput">비밀 번호</label>
            </div>
            <button onclick="login()" style="width: 300px; height: 32px; margin: auto; font-size: 14px; font-weight: bolder; margin-top: 8px;" type="button" class="btn btn-primary">로그인</button>
        </div>
    </div>

    <div style="text-align: center; width: 400px; height: 80px; border: solid 1px gray; margin: 20px auto 100px auto; background: white;">
        <div style="margin: 28px auto 28px auto;">계정이 없으신가요? <a href="join">가입하기</a></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>